#
## EXPORTS
#

HOME=${HOME:-"/home/ivan"}

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  # Nano for remote
  export EDITOR='nano'
  export VISUAL='nano'
else
  # Sublime Text for local
  export EDITOR='/usr/bin/subl -w'
  export VISUAL='/usr/bin/subl -w'
fi

# ssh
export SSH_KEY_PATH="~/.ssh/rsa_id"

# export MANPATH="/usr/local/man:$MANPATH"

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Composer
export PATH="$HOME/.composer/vendor/bin:$PATH"

# Node
NODE_OPTIONS=--max_old_space_size=6144

# n-install for n (alternative to nvm)
# See http://git.io/n-install-repo and https://github.com/tj/n
export N_PREFIX="$HOME/n"; [[ :$PATH: == *":$N_PREFIX/bin:"* ]] || PATH+=":$N_PREFIX/bin"

# Git Flow Completion is loaded in .zshrc with plugins(), but sourcing it here
# adds some useful information to Powerline.
source ~/.oh-my-zsh/custom/plugins/git-flow-completion/git-flow-completion.zsh
