# Trash
$RECYCLE.BIN/
.Trashes
Network Trash Folder
.Trash-*
.nfs*

# Temporary files
.TemporaryItems
Temporary Items
.fuse_hidden*
*~
*.swp
*.swo

# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
.directory

# Thumbnail cache files
._*
Thumbs.db
ehthumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.VolumeIcon.icns
.AppleDB
.apdisk

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compiled Python files
*.pyc

# Dependency subdirectories
node_modules/
jspm_packages/
bower_components/

# Caches
.cache
._*
Thumbs.db
ehthumbs.db
.npm
*.tsbuildinfo
.eslintcache
.sass-cache/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Style maps
*.css.map
*.sass.map
*.scss.map

# Sublime Text Package Control
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle

# COMPONENT-SPECIFIC

# JIRA plugin
atlassian-ide-plugin.xml

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# TypeScript v1 declaration files
typings/

# Next.js build output
.next

# Nuxt.js build output
.nuxt

# Grunt intermediate storage
.grunt

# SFTP configuration file
sftp-config.json
